// colors
$primary-color: #ff6060;
$container-color: #f7f7f7;
$white: #fff;
$black: #000;

// breakpoints
// $breakpoints: (
//   small: 375px,
//   medium: 768px,
//   large: 992px,
//   xlarge: 1200px
// );

// breakpoints
$mobile: 375px;
$tablet: 768px;
$desktop: 992px;
$large-desktop: 1200px;