.error {
  color: $primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-inter($tablet, $desktop) {
    margin-top: 10%;
  }

  @include media-inter($mobile, $tablet) {
    margin-top: 200px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__number {
    font-weight: 700;
    font-size: 288px;

    @include media-inter($tablet, $desktop) {
      font-size: 200px;
    }

    @include media-inter($mobile, $tablet) {
      font-size: 96px;
    }
  }

  &__text {
    font-size: 36px;
    font-weight: 500;

    @include media-inter($tablet, $desktop) {
      font-size: 25px;
    }

    @include media-inter($mobile, $tablet) {
      font-size: 18px;
      text-align: center;
      padding: 0 17%;
      line-height: 142.6%;
      margin: 0;
    }
  }

  &__link {
    color: $primary-color;
    font-size: 18px;
    font-weight: 500;
    margin: 5% 0;

    @include media-inter($mobile, $tablet) {
      margin-top: 133px;
      font-size: 14px;
    }
  }
}
