.collapse {
  color: $white;
  margin-bottom: 35px;

  @include media-inter($tablet, $desktop) {
    margin-bottom: 50px;
  }

  @include media-inter($mobile, $tablet) {
    margin-bottom: 20px;
  }

  @for $i from 1 through 4 {
    &:nth-of-type(#{$i}) {
      $delay: 120ms * $i;
      animation: show-up 600ms $delay both;
      transform-origin: center;
    }
  }

  &__button {
    color: $container-color;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: $primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 47px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    font-size: 24px;
    padding: 0 20px;

    @include media-inter($mobile, $tablet) {
      font-size: 16px;
      height: 33px;
    }
  }

  &__arrow {
    pointer-events: none;
    transition: transform 300ms;
    margin: 0;

    @include media-inter($mobile, $tablet) {
      width: 14px;
    }
  }

  &__content {
    color: $primary-color;
    background-color: $container-color;
    border-radius: 5px;
    margin-top: -5px;
    z-index: -1;
    max-height: 0;
    transition: max-height 250ms ease-out, padding 300ms ease-out;
    overflow: hidden;
    padding-left: 12px;
  }

  &__text {
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 142.6%;

    @include media-inter($mobile, $tablet) {
      font-size: 14px;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
  }

  &__list-element {
    margin-bottom: 3px;
  }
}

.rotate {
  transform: rotate(180deg);
}

.show {
  max-height: 500px;
  padding: 24px 12px 12px 12px;
  transition: max-height 250ms ease-in-out, padding 300ms ease-in-out;

  @include media-inter($mobile, $tablet) {
    padding: 23px 9px 53px 12px;
  }
}

@keyframes show-up {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
