.host {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__name {
    font-size: 20px;
    font-weight: 500;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 52px;

    &--firstname, &--lastname {
      margin: 0;
      text-align: end;
    }
  }

  &__picture {
    border-radius: 50%;
    width: 84px;
    height: 84px;
  }
}