.tags {
  background: $primary-color;
  border-radius: 22px;
  color: $white;
  padding: 10px 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  min-width: 115px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media-inter($tablet, $desktop) {
    padding: 7px 17px;
    border-radius: 15px;
  }

  @include media-inter($mobile, $tablet) {
    min-width: 84px;
    height: 18px;
    border-radius: 5px;
    padding: 5px 9px;
  }

  &__text {
    margin: 0;
    font-size: 14px;
    font-weight: 500;

    @include media-inter($mobile, $tablet) {
      font-size: 10px;
    }
  }
}
